@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  font-family: Inter, sans-serif;
  font-family: Noto Sans, sans-serif;
  font-family: Nunito, sans-serif;
  font-family: Poppins, sans-serif;
  font-family: Rubik, sans-serif;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
}

::selection {
  background-color: #f100fe;
  color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #f100fe;
}

::-webkit-scrollbar {
  background: #fff;
  width: 7px;
}

.menu {
  margin: 0;
  max-width: 250px;
  border-right: 1px solid #DBDBDB;
  max-height: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
}

.menu .logo {
  padding: 20px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #DBDBDB;
}

.menu .img {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
}

.menu .img img {
  width: 30px;
}

.menu .img span {
  display: inline-block;
  margin-left: 10px;
  font-weight: 600;
  font-size: 20px;
}

.menu .logo .menu-close button {
  background-color: transparent;
  border: none;
  outline: none;
}

.menu .logo .menu-close button i {
  opacity: 0.5;
  font-size: 19px;
}

.menu .menu-links {
  padding: 15px 10px;
}

.menu .menu-links .links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 3px;
}

.menu .menu-links .links a.active,
.menu .menu-links .links a:hover,
.menu .menu-links .links a:focus {
  background: rgba(80, 48, 229, 0.08);
}

.menu .menu-links .links a img {
  width: 23px;
}

.menu .menu-links .links a span {
  font-size: 16px;
  display: inline-block;
  margin-left: 13px;
  color: #787486;
  font-weight: 500;
}

.seperator-line {
  background-color: #DBDBDB;
  width: 90%;
  margin: 0 auto;
  height: 2px;
}

.menu .project-links {
  padding: 15px 10px;
}

.menu .project-links .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.menu .project-links .heading span {
  color: #787486;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.menu .project-links .heading button {
  background-color: transparent;
  display: flex;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 1px solid #787486;
  font-weight: 800;
  border-radius: 5px;
  color: #787486;
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 8px;
}

.menu .project-links .links {
  padding: 10px;
}

.menu .project-links .links a {
  display: flex;
  text-decoration: none;
  color: #787486;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
}

.menu .project-links .links a:hover,
.menu .project-links .links a:focus,
.menu .project-links .links a.active {
  background: rgba(80, 48, 229, 0.08);
  color: #000;
}


.menu .project-links .links a:hover .name p,
.menu .project-links .links a:focus .name p,
.menu .project-links .links a.active .name p {
  font-weight: 500;
}

.menu .project-links .links a:hover span.link,
.menu .project-links .links a:focus span.link,
.menu .project-links .links a.active span.link {
  display: inline-block;
}


.menu .project-links .links a .name {
  display: flex;
  align-items: center;
}

.menu .project-links .links a .name .color {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-right: 12px;
  border-radius: 50%;
}

.menu .project-links .links a .name span.color-1 {
  background-color: #7AC555;
}

.menu .project-links .links a .name span.color-2 {
  background-color: #FFA500;
}

.menu .project-links .links a .name span.color-3 {
  background-color: #E4CCFD;
}

.menu .project-links .links a .name span.color-4 {
  background-color: #76A5EA;
}

.menu .project-links .links a .name p {
  margin: 0;
  font-size: 16px;
}

.menu .project-links .links a span.link {
  display: none;
}

.menu .thought {
  position: relative;
  text-align: center;
  border-radius: 15px;
  padding: 15px;
  margin: 50px 20px 50px 20px;
  background: #f3f3f3;
}

.menu .thought .icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #f3f3f3;
  display: inline-block;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.menu .thought .icon::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(rgba(251, 203, 24, 0.3), rgba(251, 203, 24, 0.2), transparent, transparent);
}

.menu .thought .icon i {
  font-size: 22px;
  color: #FBCB18;
}

.menu .thought h4 {
  font-size: 14px;
  margin-top: 20px;
}

.menu .thought p {
  font-size: 12px;
  margin: 15px 0 15px 0;
  color: #787486;
}

.menu .thought button {
  border: none;
  outline: none;
  background-color: #fff;
  padding: 10px 17px;
  border-radius: 5px;
  font-weight: 500;
}

.header-width {
  flex: 0 0 calc(100% - 250px);
  overflow: hidden;
  padding: 0;
}

.header {
  height: 85px;
  border-bottom: 1px solid #DBDBDB;
}

.header .header-top-icons {
  margin-left: auto;
  display: flex;
}

.header .header-top-icons .profile {
  margin-left: auto;
  margin-right: 25px;
  display: flex;
  align-items: center;
}

.header .header-top-icons .profile img {
  width: 45px;
}

.header .col-md-6 {
  display: flex;
  align-items: center;
}

.header .search-top {
  padding-left: 25px;
}

.header .row {
  align-items: center;
  height: 100%;
}

.header .search-top input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 350px;
  margin-left: 10px;
  font-size: 14px;
}

.header .search-top label {
  background-color: #f3f3f3;
  padding: 7px 15px;
  border-radius: 5px;
}

.header .header-top-icons .profile .details {
  text-align: right;
  margin-right: 15px;
}

.header .header-top-icons .profile .details p {
  margin: 0;
  padding: 0;
}

.header .header-top-icons .profile .details .name {
  color: #000;
  font-size: 15px;
  font-weight: 500;
}

.header .header-top-icons .profile .details .location {
  font-size: 12px;
  color: #787486;
  font-weight: 500;
}

.header-width .content {
  padding: 50px 30px;
}

.header-width .content h2.project-name {
  font-size: 55px;
  font-weight: 600;
}

.list {
  margin-top: 50px;
  display: flex;
  margin: 0 -15px 0 -15px;
  flex-wrap: wrap;
}

.list .list-item {
  padding-left: 15px;
  padding-right: 15px;
  flex: 0 0 33.3333%;
}

.list .list-item .list-padding {
  background-color: #f3f3f3;
  padding: 15px 20px;
  border-radius: 15px;
}